ASL_MODEL_PATH=models/asl-sign-detector.v2.e50.pt
ASL_CONFIDENCE_THRESHOLD=0.4
ASL_SMOOTHING_WINDOW=5
ASL_FRAME_INTERVAL_MS=800
ASL_JPEG_QUALITY=0.8
ASL_NO_DETECTION_DELAY_MS=5000

# For low end systems
# ASL_FRAME_INTERVAL_MS=2000
# ASL_JPEG_QUALITY=0.25
# ASL_SMOOTHING_WINDOW=3
