ASL_MODEL_PATH=models/asl-sign-detector.pt
ASL_CONFIDENCE_THRESHOLD=0.5
ASL_SMOOTHING_WINDOW=5
ASL_FRAME_INTERVAL_MS=800
ASL_JPEG_QUALITY=0.7
ASL_NO_DETECTION_DELAY_MS=5000

# For low end systems
# ASL_FRAME_INTERVAL_MS=2000
# ASL_JPEG_QUALITY=0.25
# ASL_SMOOTHING_WINDOW=3
